html, body{
    background-color: #36d160;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.nav{
    position: fixed;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(#769171, #36d160);
    font-size: 20px;
}
.github-head{
    padding-right: 40px;
    display: block;
}
.yeet{
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
    height: auto;
}

.logo{
    display: flex;
} 

.page-nav{
    padding: 0 20px;
    text-decoration: none;
    color: black;
}

.spacer{
    max-width: 100%;
    padding-top: 75px;
    padding-bottom: 75px;
}
.logo{
display: flex;
} 

.abouttext{
    font-size: 16px;
    padding: 20px;
}

.aboutme {
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: #769171;
    font-size: 18px;
}

.aboutmeimg {
    border-radius: 8px;
    padding: 20px;
}

.aboutpic{
    border-radius: 8px;
}

.projects{
    display: flex;
    justify-content: center;
}

.portfolios {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 30px;
}

img {
    width: 100%;
    height: auto;
  }

.aboutme{
    max-width: 100%;
    height: auto;
}

.abouttext {
    max-width: 600px;
}

i {
    color: black;
}

.contactcontainer {
    max-width: 100%;
    padding: 20px;
    background-color: #769171;
}

h2 {
    display: flex;
    justify-content: center ;
    font-weight: bold;
    font-size: 36px;
}

.target {
    border: 1px ;
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    margin: 20px auto;
    background-color: #769171 ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.target h4 {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 1.5em;
    color: black;
    text-align: center;
}

.target2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.portfoliotext {
    margin: 16px;
    color: black;
    font-size: 20px ;
    line-height: 1.4;
    text-align: center;
}

.githubpro {
    display: inline-block;
    margin-bottom: 16px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.githubpro i {
    margin-left: 8px;
}

.portimg {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.header3 {
    font-size: 40x;
}

.contacts{
    display: flex;
    justify-content: space-between;
    margin: 0 20 0 20;
    width: 260px;
    font-size: 30px;
}

.contacttext {
font-size: 18px;
padding: 20px 0 20px 0;
}