html, body{
    background-color: #36d160;
}

.nav{
    position: fixed;
    padding: 20px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-content: space-between;
}

.page-nav{
    display: block;
}

.github-head{
    display: block;
}

.logo{
display: block;
} 